@model IEnumerable<EJournal.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>

<p>
    <a asp-controller="Classes" asp-action="Upsert">Создать класс</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Класс
            </th>
            <th>
                Классный руководитель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                    @Html.DisplayFor(modelItem => item.Liter)
                </td>
                <td>
                    <a asp-controller="Employees" asp-action="Details" asp-route-id="@item.EmployeeKey">
                    @Html.DisplayFor(modelItem => item.Employee.Account.PersonalData.FullName)
                    </a>
                </td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
