@using Microsoft.AspNetCore.Html;
@model IEnumerable<EJournal.Models.Discipline>

@foreach (var item in Model)
{
    <h4>
        <a asp-controller ="Disciplines" asp-action="Details" asp-route-id="@item.Id">
            @Html.DisplayFor(modelItem => item.Subject.Name)
        </a>
    </h4>
    Dictionary<DateTime, int?> DateMark = new Dictionary<DateTime, int?>();


        <table class="table-bordered">
    @foreach (var lesson in item.Lessons.OrderBy(l => l.DateTime))
    {
        <thead>
            <tr>
                <th>
                    @(new @HtmlString(@lesson.DateTime.ToString("ddd,<br> dd.MM")))
                </th>
            </tr>
        </thead>
    }
    @*item.Lessons.ForEach(
        l =>
        {
            DateMark.Add(l.DateTime, l.Marks.FirstOrDefault(m => m.StudentKey == 0)?.Value);
        });*@

        
    @foreach (var lesson in item.Lessons.OrderBy(l => l.DateTime))
    {
        <tbody>
            <tr>
                <td>
                    @lesson.Marks.FirstOrDefault(m=> m.StudentKey == 0)
                </td>
            </tr>
        </tbody>
    }
    </table>

}


<table class="table">
    <thead>
        <tr>
            <th>
                Класс
            </th>
            <th>
                Предмет
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Number)
                    @Html.DisplayFor(modelItem => item.Class.Liter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    <a asp-controller="Disciplines" asp-action="Upsert" asp-route-id="@item.Id">Edit</a> |
                    <a asp-controller="Disciplines" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-controller="Disciplines" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>